@*@inherits System.Web.Mvc.WebViewPage*@
@{
    PageData["title"] = "Index Title | Set ASP.NET";
}
@*<div ng-controller="HomeCtrl as h">*@
<script>
	console.log('Index.html load ok!');
</script>
	<div>
		<h2>Welcome!</h2>
		<p>This is just a demo page.</p>
		{{message}}
	</div>